[submodule "submodules/RealisticWaterSceneNode"]
	path = submodules/RealisticWaterSceneNode
	url = https://github.com/elvman/RealisticWaterSceneNode.git
[submodule "submodules/exploot-protobuf"]
	path = submodules/exploot-protobuf
	url = https://pukoren@bitbucket.org/pukoren/exploot-protobuf.git
